body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
    text-align:justify;
    padding: 1em;	
	
}
p {font-size: 20px;
}
a {
    color: #666666;
    text-decoration:none;
}
a:hover {
    color: #208CED;
    text-decoration:none;

h1 {
	font-size:60px;
	line-height: 1.25;
}
h2 {
	font-size: 40px;
	line-height: 1.5;
}
