body {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  padding-top: 2em;
  padding-left: 2em;
 
}

/* Titles */

h1 {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000000;
   font-size: 40px;
  margin-bottom:0px;
  padding: 1em;
}
h2 {
  font-weight: bold;
  color: #333;
   font-size: 25px;
  margin-bottom:1em;
  margin-top:1em;
  padding-left: 1em;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 35px;
  padding-left: 2em;
  padding-right: 1em;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #1abc9c;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
